<div style="display: flex;flex-direction:column;"> 
  <div class="line-1" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 90vw">
    <div class="ws-counter-type" style="margin-left: 5%"> 
      <app-select-mode [selectedMode]="wsRow.mode" (selectMode)="selectModeEvent($event)"></app-select-mode>
    </div>
    <div class="ws-name"> 
      <ion-input 
      [ngStyle]="{'font-size': '12px'}"
      (ionBlur)="handleInputBlur($event)"
      [value]="wsRow.label"
      type="text" 
      placeholder="Ajouter un titre">
      </ion-input>
    </div>
    <div class="ws-time-objective">

      <span> 1h </span>
    </div>
    <div class="ws-eslapsed-time">

      <span> {{ formatTime(rowTimeValue) || '00:00:00' }} </span>
    </div>
    <div class="ws-objective" style="margin-right: 5%">

      <ion-icon (click)="removeWS()" name="remove"></ion-icon>
    </div>
  </div>
  <div class="line-2" style="display: flex; margin-bottom: 2%; margin-top: 2%">
    <ion-chip *ngFor="let tag of getWSTags()">
      <ion-label>{{tag?.label}}</ion-label>
      <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
    </ion-chip>
  </div>
</div>

