<ion-grid>
  <ion-row class="tags-area" style="display: flex; align-items: center">
    <ion-col size="9" size-md="8">
      <ion-input [(ngModel)]="newTag" (ionInput)="filterTags()" placeholder="Tags"></ion-input>
      <ion-list *ngIf="filteredTags.length > 0">
        <ion-item *ngFor="let tag of filteredTags" (click)="selectTag(tag)">
          {{tag.label}}
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="2" size-md="4" class="ion-text-center">
      <ion-button [disabled]="isTagEmpty" size="small" color="light" (click)="addTag()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      
    </ion-col>
  </ion-row>
  <ion-row class="selected-tags">
    <ion-chip *ngFor="let tag of selectedTags">
      <ion-label>{{tag.label}}</ion-label>
      <ion-icon name="close-circle" (click)="removeTag(tag)"></ion-icon>
    </ion-chip>
  </ion-row>
</ion-grid>